@import "tailwindcss";

:root {
  --background: #0b0b0b;
  --foreground: #ffffff;
  --gold: #d4af37;
  --card: #151515;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-arabic);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.logo {
  font-family: var(--font-english);
  letter-spacing: 3px;
  font-weight: 700;
}

.card {
  background: var(--card);
  border: 1px solid rgba(212, 175, 55, 0.15);
  border-radius: 20px;
  transition: 0.35s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: var(--gold);
  box-shadow: 0 15px 35px rgba(212, 175, 55, 0.15);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #101010;
}

::selection {
  background: #d4af37;
  color: black;
}
